{% if comments|length > 0 %}

	<div class="page mx-auto">
		<div class="archive">
			{% for comment in comments %}
				<article class="article">
					<div class="text-left">
						<p class="bold">{{ comment.author }}
							<br>
							<span class="italic">{{ comment.createdAt|format_datetime('medium', 'short') }}</span>
						</p>
					</div>
					{% if comment.picturefilename %}
						<a href="{{ asset('uploads/pictures/' ~ comment.picturefilename) }}" target="_blank">
							<img class="comment-img" src="{{ asset('uploads/pictures/' ~ comment.picturefilename) }}" alt="{{ comment.picturefilename }}"/>
						</a>
					{% endif %}
					<div class="mt-2">
						<p class="text-wrap text-left">
							{{ comment.text }}
						</p>
					</div>
				</article>
			{% endfor %}
		</div>
	</div>

	{# Pagination #}
	<div class="pagination mb-5">
		{% if previous >= 0 %}
			<a class="app-button" href="{{ path('participations', { slug: theme.slug, offset: previous }) }}">{{'Previous'|trans }}</a>
		{% endif %}
		{% if next < comments|length %}
			<a class="app-button" href="{{ path('participations', { slug: theme.slug, offset: next }) }}">{{'Next'|trans }}</a>
		{% endif %}
	</div>

{% endif %}
