{% extends 'base.html.twig' %}

{% block title %}
	Thaimes -
	{{ 'Categories'|trans }}
{% endblock %}

{% block body %}

	<h2 class="hide">{{ 'Categories'|trans }}</h2>
	<div class="container">
		<div class="row">

			<div class="neon-text h1 col-xl-8">
				<span class="letter">C</span>
				<span class="letter">a</span>
				<span class="letter letter-2">t</span>
				{% if app.request.locale=='en' %}
					<span class="letter">e</span>
				{% elseif app.request.locale=='fr' %}
					<span class="letter">é</span>
				{% endif %}
				<span class="letter">g</span>
				<span class="letter">o</span>
				<span class="letter">r</span>
				<span class="letter">i</span>
				<span class="letter">e</span>
				<span class="letter letter-3">s</span>
			</div>

			{# Bloc de recherche #}
			<div class="col-xl-3 offset-xl-1 mt-3">
				{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
			</div>

		</div>
	</div>

	<div class="container mt-4 mb-6">
		<dl class="row gx-5">
			{% for letter, tags in tags_by_letter %}
				<div class="col-4">
					<dt class="mt-4">
						<span class="sign h1">{{ letter }}</span>
					</dt>
					{% for tag in tags  %}
						<dd class="ms-2">
							<a class="h5" href="{{ path('category', { name: tag.name }) }}">{{ tag.name }}</a>
						</dd>
					{% endfor %}
				</div>
			{% endfor %}
		</dl>
	</div>
	
{% endblock %}
