{% extends '@!EasyAdmin/layout.html.twig' %}

{% block header_logo %}
	<div id="header-logo">
		<a class="logo text-center" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
			<img class="logoSite" src={{ asset('/build/favicon-192.png') }} alt="{{ ea.dashboardTitle|raw }}" width="70" height="70"/>
		</a>
	</div>
{% endblock header_logo %}

{% block main %}

	{# ApexCharts #}
	<div class="container">
		<div class="h1 text-center pb-5">
			{{ 'You have'|trans }}
			<span class="text-large">{{ themes }}</span>
			{{ 'themes and'|trans }}
			<span class="text-large">{{ comments }}</span>
			participations.
		</div>
		<div class="row mt-5">
			<div id="donut" class="col-lg"></div>
			<div id="area" class="col-lg"></div>
		</div>
	</div>

	<script>
		const themesCounts = {{ themesCounts|json_encode|raw }};
		const commentLast30Days = {{ commentLast30Days|json_encode|raw }};
	</script>

{% endblock %}
