{% extends 'base.html.twig' %}

{% block title %}
	Thaimes
{% endblock %}

{% block body %}

	{% if app.request.method == 'GET' %}
		<div class="container">
			<div class="row">

				<h2 class="hide">{{ 'Search results'|trans }}</h2>
				<div class="neon-text h1 col-xl-8">
					{% if comments | length == 0 %}
						{% if app.request.locale=='en' %}
							<span class="letter">N</span>
							<span class="letter">o</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter letter-2">r</span>
							<span class="letter">e</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
						{% elseif app.request.locale=='fr' %}
							<span class="letter">P</span>
							<span class="letter">a</span>
							<span class="letter">s</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">d</span>
							<span class="letter">e</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter letter-2">r</span>
							<span class="letter">é</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter">a</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
						{% endif %}
					{% else %}
						{% if app.request.locale=='en' %}
							<span class="letter">S</span>
							<span class="letter">e</span>
							<span class="letter">a</span>
							<span class="letter letter-2">r</span>
							<span class="letter">c</span>
							<span class="letter">h</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">r</span>
							<span class="letter">e</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
						{% elseif app.request.locale=='fr' %}
							<span class="letter">R</span>
							<span class="letter">é</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter">a</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">d</span>
							<span class="letter">e</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">l</span>
							<span class="letter">a</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter letter-2">r</span>
							<span class="letter">e</span>
							<span class="letter">c</span>
							<span class="letter">h</span>
							<span class="letter">e</span>
							<span class="letter">r</span>
							<span class="letter">c</span>
							<span class="letter">h</span>
							<span class="letter letter-3">e</span>
						{% endif %}
					{% endif %}
				</div>

				{# Bloc de recherche #}
				<div class="col-xl-3 offset-xl-1 mt-3">
					{{ render(controller('App\\Controller\\SearchController::searchBarForParticipations')) }}
				</div>

			</div>
		</div>

		{% if comments | length == 0 %}
			<h1 class="hide">{{ 'No results'|trans }}</h1>
		{% else %}
			<h1 class="hide">{{ 'Search results'|trans }}</h1>

			<div class="page mx-auto">
				<div class="archive">
					{% for comment in comments %}
						{% set articleClasses = ["article"] %}
						{% if (app.request.query.get('page')|default(1) == 1) and (loop.first) %}
							{% set articleClasses = articleClasses|merge(["first"]) %}
						{% endif %}
						<article class="{{ articleClasses|join(" ") }}">
							<div class="text-left">
								<p class="bold">{{ comment.author }}
									<br>
									<span class="italic">{{ comment.createdAt|format_datetime('medium', 'short') }}</span>
								</p>
							</div>
							{% if comment.picturefilename %}
								<a href="{{ asset('uploads/pictures/' ~ comment.picturefilename) }}" target="_blank">
									<img class="comment-img" src="{{ asset('uploads/pictures/' ~ comment.picturefilename) }}" alt="{{ comment.picturefilename }}"/>
								</a>
							{% endif %}
							<div class="mt-2 text-wrap">
								{{ comment.text }}
							</div>
						</article>
					{% endfor %}
				</div>
			</div>

			{# Pagination #}
			<div class="container mb-6">
				{{ knp_pagination_render(comments, 'pagination/pagination.html.twig') }}
			</div>

		{% endif %}
	{% endif %}

{% endblock %}
