{% extends 'base.html.twig' %}

{% block title %}
	Thaimes
{% endblock %}

{% block body %}
	{% if app.request.method == 'POST' %}
		<div class="container d-flex justify-content-md-between">
			<div class="neon-text">
				{% if themes | length == 0 %}
					<span class="letter">N</span>
					<span class="letter">o</span>
					<span class="letter"></span>
					<span class="letter letter-2">r</span>
					<span class="letter">e</span>
					<span class="letter">s</span>
					<span class="letter">u</span>
					<span class="letter">l</span>
					<span class="letter">t</span>
					<span class="letter letter-3">s</span>
				{% else %}
					<span class="letter">S</span>
					<span class="letter">e</span>
					<span class="letter">a</span>
					<span class="letter letter-2">r</span>
					<span class="letter">c</span>
					<span class="letter">h</span>
					<span class="letter"></span>
					<span class="letter">r</span>
					<span class="letter">e</span>
					<span class="letter">s</span>
					<span class="letter">u</span>
					<span class="letter">l</span>
					<span class="letter">t</span>
					<span class="letter letter-3">s</span>
				{% endif %}
			</div>
			{# Bloc de recherche #}
			<div class="container-box align-self-center">
				{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
			</div>
		</div>

		{% if themes | length == 0 %}
			<h1 class="mb-5 hide">{{ 'No results'|trans }}</h1>
		{% else %}
			<h1 class="mb-5 hide">{{ 'Search results'|trans }}</h1>
			<div class="container py-4">
				{% for theme in themes %}
					<article class="postcard dark red">
						<a class="postcard__img_link" href="{{ path('theme', { slug: theme.slug }) }}">
							{% if theme.picture %}
								<img class="postcard__img" src="{{ asset('uploads/theme/' ~ theme.picture) }}" alt="{{ theme.picture }}"/>
							{% endif %}
						</a>
						<div class="postcard__text">
							<h4 class="postcard__title red">
								<a href="{{ path('theme', { slug: theme.slug }) }}">{{ theme }}</a>
							</h4>
							<div class="postcard__subtitle small">
								<i class="fas fa-calendar-alt"></i>
								{{ theme.createdAt|format_datetime(pattern="EEEE dd MMMM YYYY", locale="fr") }}
							</div>
							<div class="postcard__bar"></div>
							<div class="postcard__preview-txt">{{ theme.text }}</div>
							<ul class="postcard__tagbox">
								{% for theme in theme.getTags() %}
									<li class="tag__item">
										<i class="fas fa-tag"></i>
										{{ theme.name }}
									</li>
								{% endfor %}
							</ul>
						</div>
					</article>
				{% endfor %}
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
