{% extends 'base.html.twig' %}

{% block title %}
	Thaimes
{% endblock %}

{% block body %}

	{% if app.request.method == 'GET' %}
		<div class="container">
			<div class="row">

				<h2 class="hide">{{ 'Search results'|trans }}</h2>
				<div class="neon-text h1 col-xl-8">
					{% if themes | length == 0 %}
						{% if app.request.locale=='en' %}
							<span class="letter">N</span>
							<span class="letter">o</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter letter-2">r</span>
							<span class="letter">e</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
						{% elseif app.request.locale=='fr' %}
							<span class="letter">P</span>
							<span class="letter">a</span>
							<span class="letter">s</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">d</span>
							<span class="letter">e</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter letter-2">r</span>
							<span class="letter">é</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter">a</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
						{% endif %}
					{% else %}
						{% if app.request.locale=='en' %}
							<span class="letter">S</span>
							<span class="letter">e</span>
							<span class="letter">a</span>
							<span class="letter letter-2">r</span>
							<span class="letter">c</span>
							<span class="letter">h</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">r</span>
							<span class="letter">e</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
						{% elseif app.request.locale=='fr' %}
							<span class="letter">R</span>
							<span class="letter">é</span>
							<span class="letter">s</span>
							<span class="letter">u</span>
							<span class="letter">l</span>
							<span class="letter">t</span>
							<span class="letter">a</span>
							<span class="letter">t</span>
							<span class="letter letter-3">s</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">d</span>
							<span class="letter">e</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">l</span>
							<span class="letter">a</span>
							<span class="letter">&nbsp;</span>
							<span class="letter">&nbsp;</span>
							<span class="letter letter-2">r</span>
							<span class="letter">e</span>
							<span class="letter">c</span>
							<span class="letter">h</span>
							<span class="letter">e</span>
							<span class="letter">r</span>
							<span class="letter">c</span>
							<span class="letter">h</span>
							<span class="letter letter-3">e</span>
						{% endif %}
					{% endif %}
				</div>

				{# Bloc de recherche #}
				<div class="col-xl-3 offset-xl-1 mt-3">
					{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
				</div>

			</div>
		</div>

		{% if themes | length == 0 %}
			<h1 class="mb-5 hide">{{ 'No results'|trans }}</h1>
		{% else %}
			<h1 class="mb-5 hide">{{ 'Search results'|trans }}</h1>

			<div class="container my-5 row">
			
				{% for theme in themes %}
					<div class="col-md-6 col-xs-12">
						<article class="postcard search-postcard dark red">
							<a class="postcard__img_link" href="{{ path('theme', { slug: theme.slug }) }}">
								{% if theme.picture %}
									<img class="postcard__img" src="{{ asset('uploads/theme/' ~ theme.picture) }}" alt="{{ theme.picture }}"/>
								{% endif %}
							</a>
							<div class="postcard__text">
								<h4 class="postcard__title red">
									<a href="{{ path('theme', { slug: theme.slug }) }}">{{ theme }}</a>
								</h4>
								<div class="postcard__bar"></div>
								<ul class="postcard__tagbox">
									{% for theme in theme.getTags() %}
										<li class="tag__item">
											<a class="tag__item_a" href="{{ path('category', { name: theme.name }) }}">
												<i class="fas fa-tag"></i>
												{{ theme.name }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</article>
					</div>
				{% endfor %}

				{# Pagination #}
				{{ knp_pagination_render(themes, 'pagination/pagination.html.twig') }}

			</div>

		{% endif %}
	{% endif %}

{% endblock %}
