{% extends 'base.html.twig' %}

{% block title %}
	Thaimes -
	{{ tag.name }}
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-md-between">
		<div class="neon-text col-8 normal">
			<h2 class="letter letter-normal">{{ tag.name }}</h2>
		</div>
		{# Bloc de recherche #}
		<div class="container-box col-4 mt-4">
			{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
		</div>
	</div>

	<div class="container my-5">
		{% for row in themes|batch(6) %}

			{% for theme in row %}
				{# Cartes de thème #}
				<article class="postcard dark red">
					<a class="postcard__img_link" href="{{ path('theme', { slug: theme.slug }) }}">
						{% if theme.picture %}
							<img class="postcard__img" src="{{ asset('uploads/theme/' ~ theme.picture) }}" alt="{{ theme.picture }}"/>
						{% endif %}
					</a>
					<div class="postcard__text">
						<h4 class="postcard__title red">
							<a href="{{ path('theme', { slug: theme.slug }) }}">{{ theme }}</a>
						</h4>
						<div class="postcard__subtitle small">
							<i class="fas fa-calendar-alt"></i>
							{{ theme.createdAt|format_datetime(pattern="EEEE dd MMMM YYYY", locale="fr") }}
						</div>
						<div class="postcard__bar"></div>
						<div class="postcard__preview-txt">{{ theme.text }}</div>
						<ul class="postcard__tagbox">
							{% for theme in theme.getTags() %}
								<li class="tag__item">
									<a class="tag__item_a" href="{{ path('category', { name: theme.name }) }}">
										<i class="fas fa-tag"></i>
										{{ theme.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</article>
			{% endfor %}

		{% endfor %}
	</div>

{% endblock %}
