{% extends 'base.html.twig' %}

{% block title %}
	Thaimes
{% endblock %}

{% block body %}
	<h2 class="mb-5">
		{{ 'Give your feedback!'|trans }}
	</h2>

	<section class="dark">
		{% for row in themes|batch(4) %}
			<div class="container py-4">
				{% for theme in row %}
					{# Cartes de thème #}
					<article class="postcard dark red">
						<a class="postcard__img_link" href="{{ path('theme', { slug: theme.slug }) }}">
							{% if theme.picture %}
								<img class="postcard__img" src="{{ asset('uploads/theme/' ~ theme.picture) }}" alt="{{ theme.picture }}"/>
							{% endif %}
						</a>
						<div class="postcard__text">
							<h4 class="postcard__title red">
								<a href="{{ path('theme', { slug: theme.slug }) }}">{{ theme }}</a>
							</h4>
							<div class="postcard__subtitle small">
								<time datetime="2020-05-25 12:00:00">
									<i class="fas fa-calendar-alt mr-2"></i>{{ theme.createdAt|format_datetime(pattern="EEEE dd MMMM YYYY", locale="fr") }}
								</time>
							</div>
							<div class="postcard__bar"></div>
							<div class="postcard__preview-txt">{{ theme.text }}</div>
							<ul class="postcard__tagbox">
								<li class="tag__item">
									<i class="fas fa-tag mr-2"></i>{{ theme.tag }}
								</li>
							</ul>
						</div>
					</article>
				{% endfor %}
			</div>
		{% endfor %}
	</section>
{% endblock %}
