{% extends 'base.html.twig' %}

{% block title %}
	Thaimes
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-md-between">
		<h2 class="mb-5 hide">{{ 'What\'s new?'|trans }}</h2>
		<div class="neon-text h1">
			<span class="letter">W</span>
			<span class="letter">h</span>
			<span class="letter letter-2">a</span>
			<span class="letter">t</span>
			<span class="letter">'</span>
			<span class="letter">s</span>
			<span class="letter">&nbsp;</span>
			<span class="letter">n</span>
			<span class="letter">e</span>
			<span class="letter">w</span>
			<span class="letter letter-3">?</span>
		</div>
		{# Bloc de recherche #}
		<div class="container-box align-self-center">
			{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
		</div>
	</div>

	{% for row in themes|batch(4) %}
		<div class="container mt-5">
			{% for theme in row %}
				{# Cartes de thème #}
				<article class="postcard dark red">
					<a class="postcard__img_link" href="{{ path('theme', { slug: theme.slug }) }}">
						{% if theme.picture %}
							<img class="postcard__img" src="{{ asset('uploads/theme/' ~ theme.picture) }}" alt="{{ theme.picture }}"/>
						{% endif %}
					</a>
					<div class="postcard__text">
						<h4 class="postcard__title red">
							<a href="{{ path('theme', { slug: theme.slug }) }}">{{ theme }}</a>
						</h4>
						<div class="postcard__subtitle small">
							<i class="fas fa-calendar-alt"></i>
							{{ theme.createdAt|format_datetime(pattern="EEEE dd MMMM YYYY") }}
						</div>
						<div class="postcard__bar"></div>
						<div class="postcard__preview-txt">{{ theme.text }}</div>
						<ul class="postcard__tagbox">
							{% for theme in theme.getTags() %}
								<li class="tag__item">
									<a class="tag__item_a" href="{{ path('category', { name: theme.name }) }}">
										<i class="fas fa-tag"></i>
										{{ theme.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</article>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
