{% extends 'base.html.twig' %}

{% block title %}
	Thaimes -
	{{ theme }}
{% endblock %}

{% block body %}
	<div class="row justify-content-between mb-5">
		<div class="col-lg-7">
			<div class="head">
				<h1 id="theme-name" class="theme-title headline">{{ theme }}</h1>
				<h2 id="theme-catch" class="subhead">
					{{ theme.catch }}
				</h2>
				<div class="article-meta mb-4">
					<p class="article-tags">
						{% for theme in theme.getTags() %}
							<span class="tag">{{ theme.name }}</span>
						{% endfor %}
					</p>
				</div>
				<a class="readandspeech">
					<i class="fas fa-volume-up"></i>
				</a>
			</div>

			<div class="content mt-4">
				<p id="theme-text" class="pb-4">
					{{ theme.text }}
				</p>
				{% if theme.asideText %}
					<aside>
						<p>{{ theme.asideText }}</p>
					</aside>
				{% endif %}

				{% if theme.picture %}
					<figure>
						<img class="neon-img" src="{{ asset('uploads/theme/' ~ theme.picture) }}" alt="{{ theme.picture }}"/>
						{% if theme.pictureAuthor %}
							<figcaption>
								<a href="{{ theme.pictureAuthorLink | external_link }}">{{ 'Image by'|trans }}
									{{ theme.pictureAuthor }}</a>
							</figcaption>
						{% endif %}
					</figure>
				{% endif %}

				{% if theme.textTwo %}
					<p class="p-4">
						{{ theme.textTwo }}
					</p>
				{% endif %}

				{% if theme.titleTwo %}
					<h2 class="theme-title pt-4">{{ theme.titleTwo }}</h2>
				{% endif %}
				{% if theme.textThree %}
					<p class="px-4 py-2">{{ theme.textThree }}</p>
				{% endif %}

				{% if theme.pictureTwo %}
					<figure class="pt-2">
						<img class="neon-img" src="{{ asset('uploads/theme/' ~ theme.pictureTwo) }}" alt="{{ theme.pictureTwo }}"/>
						{% if theme.pictureTwoAuthor %}
							<figcaption>
								<a href="{{ theme.pictureTwoAuthorLink | external_link }}">{{ 'Image by'|trans }}
									{{ theme.pictureTwoAuthor }}</a>
							</figcaption>
						{% endif %}
					</figure>
				{% endif %}

				{% if theme.textFour %}
					<p class="p-4">{{ theme.textFour }}</p>
				{% endif %}
			</div>
		</div>

		<div
			class="col-lg-4 mt-5">
			{# Lien vers participations #}
			<div class="row text-left">
				<p class="h5">
					{% if comments|length > 0 %}
						<a href="{{ path('participations', { slug: theme.slug }) }}">
							{{ 'nb_of_comments'|trans({count: comments|length})}}
						</a>
					{% else %}
						{{'No participations have been posted yet for this theme.'|trans }}
					{% endif %}
				</p>
			</div>

			{# Form de participation #}
			<div class="comment-form row mx-auto">
				<div class="box-form bg-light rounded-lg p-4">
					<h3 class="font-weight-light hide">
						{{'Participate!'|trans }}
					</h3>
					<div class="neon-text h3 mb-3">
						<span class="letter">P</span>
						<span class="letter">a</span>
						<span class="letter">r</span>
						<span class="letter letter-2">t</span>
						<span class="letter">i</span>
						<span class="letter">c</span>
						<span class="letter">i</span>
						<span class="letter">p</span>
						{% if app.request.locale=='en' %}
							<span class="letter">a</span>
							<span class="letter">t</span>
						{% endif %}
						<span class="letter">e</span>
						{% if app.request.locale=='fr' %}
							<span class="letter">&nbsp;</span>
						{% endif %}
						<span class="letter letter-3">!</span>
					</div>
					{{ form_start(comment_form, {'attr': {'id': 'comment_form'}}) }}
					{{ form_row(comment_form.author, { 'label': 'Your name' }) }}
					{{ form_row(comment_form.text, { 'label': 'Your text' }) }}
					{{ form_row(comment_form.email, { 'label': 'Your email' }) }}
					{{ form_row(comment_form.photo, { 'label': 'Your picture' }) }}
					{{ form_row(comment_form.submit, {'attr': {'class': 'app-button'}}, { 'label': 'Submit' }) }}
					{{ form_end(comment_form) }}
				</div>
			</div>
		</div>
	</div>

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('readandspeech') }}
	{% endblock %}
{% endblock %}
